@inject IBootstrapCss BootstrapCss
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await BootstrapCss.SetBootstrapCss("4.4.1");
    }
}
